/*
 * Color palette & co
 */
body {
    background-color: #2f3940;
    color: #ebb741;
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}

a {
    color: #29caca;
}

/*
 * Fixing bootstrap issues
 */
.btn-success, .btn-success:hover {
    background-color: #29caca;
    color: #000000;
}

blockquote {
    font-size: medium;
}

.col-lg-8, .col-lg-4 {
    padding: 0px;

}

/*
 * Components
 */
.article {
    padding: 12px;
    margin: 10px 0px;
}

@media (min-width: 992px) {
    .sidebar {
        padding-left: 5px;
    }
}

.sidebar-content {
    text-align: justify;
    padding: 5px 10px;
    margin: 10px 0;
}

.article-title {
    font-size: large;
    display: inline-block;
    border-bottom: 1px solid #666666;
}
.article-title > a {
    color: #ebb741;
    text-decoration: none;
}

.article-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.article-tags {
    font-size: small;
    margin-top: 2px;
    border-top: 1px solid #eee;
}

.article-tag:after {
    content: '; ';
}
.article-tag:last-child:after {
    content: '';
}

.article-url {
    font-size: small;
}

.header {
    margin-top: 5px;
    padding: 5px 10px;
}

.brand {
    font-size: x-large;
}

.header > ul > li > a {
    color: #ebb741;
}

.header > ul {
    padding-left: 0px !important;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    height: 36px;
}
.header > ul > li{
    display: inline;
    list-style-type: none;
    line-height: 36px;
}

.header > ul :not(:first-child){
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid #ebb741;
}

.header .submit > a {
    color: #29caca;
}



#logo {
    height: 70px;
}